<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <script>
        function myphonealert() {
            alert("9540-48-2228 / 9540-48-2229");
        }
    </script>

    <script>
        function myemailalert() {
            alert("jsluxurybanquet@gmail.com");
        }
    </script>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://rawgit.com/LeshikJanz/libraries/master/Bootstrap/baguetteBox.min.css">

    <!-- Title -->
    <title>JS Gardens</title>

    <!-- Favicon -->
{#    <link rel="icon" href="{% static "img/core-img/favicon.png" %}">#}

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static "style.css" %}">

    <style>
        .container.gallery-container {
            background-color: #fff;
            color: #35373a;
            min-height: 80vh;
            padding: 30px 50px;
        }

        .gallery-container h1 {
            text-align: center;
            margin-top: 50px;
            font-family: 'Droid Sans', sans-serif;
            font-weight: bold;
        }

        .gallery-container p.page-description {
            text-align: center;
            margin: 25px auto;
            font-size: 18px;
            color: #999;
        }

        .tz-gallery {
            padding: 40px;
        }

        /* Override bootstrap column paddings */
        .tz-gallery .row > div {
            padding: 2px;
        }

        .tz-gallery .lightbox img {
            width: 100%;
            border-radius: 0;
            position: relative;
        }

        .tz-gallery .lightbox:before {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -13px;
            margin-left: -13px;
            opacity: 0;
            color: #fff;
            font-size: 26px;
            font-family: 'Glyphicons Halflings';
            content: '\e003';
            pointer-events: none;
            z-index: 9000;
            transition: 0.4s;
        }


        .tz-gallery .lightbox:after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            background-color: rgba(46, 132, 206, 0.7);
            content: '';
            transition: 0.4s;
        }

        .tz-gallery .lightbox:hover:after,
        .tz-gallery .lightbox:hover:before {
            opacity: 1;
        }

        .baguetteBox-button {
            background-color: transparent !important;
        }

        @media(max-width: 768px) {
            body {
                padding: 0;
            }
        }
    </style>

</head>

<body>
<!-- Preloader -->
<div id="preloader">
    <div class="loader"></div>
</div>
<!-- /Preloader -->

<!-- Header Area Start -->
<header class="header-area">
    <!-- Search Form -->
    <div class="search-form d-flex align-items-center">
        <div class="container">
            <form action="index.html" method="get">
                <input type="search" name="search-form-input" id="searchFormInput" placeholder="Type your keyword ...">
                <button type="submit"><i class="icon_search"></i></button>
            </form>
        </div>
    </div>

    <!-- Top Header Area Start -->
    <div class="top-header-area">
        <div class="container">
            <div class="row">

                <div class="col-6">
                    <div class="top-header-content">
                        <a href="tel:+919540482228"><i class="icon_phone" onclick="myphonealert()"></i> <span>9540-48-2228 / 9540-48-2229</span></a>
                        <a href="#"><i class="icon_mail" onclick="myemailalert()"></i> <span>jsluxurybanquet@gmail.com</span></a>
                    </div>
                </div>

                <div class="col-6">
                    <div class="top-header-content">
                        <!-- Top Social Area -->
                        <div class="top-social-area ml-auto">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            {#                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>#}
                            {#                                <a href="#"><i class="fa fa-tripadvisor" aria-hidden="true"></i></a>#}
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Top Header Area End -->

    <!-- Main Header Start -->
    <div class="main-header-area">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="robertoNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="{% url "index" %}" >
                        {#                        img src="{% static "img/core-img/canva_logo.png" %}" alt="">#}
                        <h1 style="color: #990026;"> JS Garden</h1>

                    </a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">
                        <!-- Menu Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>
                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul id="nav">
                                <li class="active"><a href="{% url 'index' %}">Home</a></li>
                                <li><a href="#gallery">Gallery</a></li>
                                <li><a href="#packages">Packages</a></li>

                                {#                                    <li><a href="#">Pages</a>#}
                                {#                                        <ul class="dropdown">#}
                                {#                                            <li><a href="./index.html">- Home</a></li>#}
                                {#                                            <li><a href="room.html">- Rooms</a></li>#}
                                {#                                            <li><a href="single-room.html">- Single Rooms</a></li>#}
                                {#                                            <li><a href="about.html">- About Us</a></li>#}
                                {#                                            <li><a href="blog.html">- Blog</a></li>#}
                                {#                                            <li><a href="single-blog.html">- Single Blog</a></li>#}
                                {#                                            <li><a href="contact.html">- Contact</a></li>#}
                                {#                                            <li><a href="#">- Dropdown</a>#}
                                {#                                                <ul class="dropdown">#}
                                {#                                                    <li><a href="#">- Dropdown Item</a></li>#}
                                {#                                                    <li><a href="#">- Dropdown Item</a></li>#}
                                {#                                                    <li><a href="#">- Dropdown Item</a></li>#}
                                {#                                                    <li><a href="#">- Dropdown Item</a></li>#}
                                {#                                                </ul>#}
                                {#                                            </li>#}
                                {#                                        </ul>#}
                                {#                                    </li>#}
                                <li><a href="#location">Location</a></li>
                                <li><a href="{% url 'contactus' %}">Contact</a></li>
                                <li><a href="#aboutus">About Us</a></li>
                            </ul>

                            <!-- Search -->
                            {#                                <div class="search-btn ml-4">#}
                            {#                                    <i class="fa fa-search" aria-hidden="true"></i>#}
                            {#                                </div>#}

                            <!-- Book Now -->
                            {#                                <div class="book-now-btn ml-3 ml-lg-5">#}
                            {#                                    <a href="#">Book Now <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>#}
                            {#                                </div>#}
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Header Area End -->

<!-- Welcome Area Start -->
<section class="welcome-area">
    <div class="welcome-slides owl-carousel">
        <!-- Single Welcome Slide -->
        <div class="single-welcome-slide bg-img bg-overlay" style="background-image: url({% static 'img/bg-img/marriage.jpg' %});" data-img-url="{% static 'img/bg-img/marriage.jpg' %}">
            <!-- Welcome Content -->
            <div class="welcome-content h-100">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <!-- Welcome Text -->
                        <div class="col-12">
                            <div class="welcome-text text-center">
                                <h6 data-animation="fadeInLeft" data-delay="200ms">Banquet and Party Lawn</h6>
                                <h2 data-animation="fadeInLeft" data-delay="500ms">Welcome To J.S. Garden</h2>
                                <a href="#contactus" class="btn roberto-btn btn-2" data-animation="fadeInLeft" data-delay="800ms">Make an Enquiry</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Welcome Slide -->
        <div class="single-welcome-slide bg-img bg-overlay" style="background-image: url({% static 'img/bg-img/marriage_2.jpg' %});" data-img-url="{% static 'img/bg-img/marriage_2.jpg' %}">
            <!-- Welcome Content -->
            <div class="welcome-content h-100">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <!-- Welcome Text -->
                        <div class="col-12">
                            <div class="welcome-text text-center">
                                <h6 data-animation="fadeInUp" data-delay="200ms">Banquet and Party Lawn</h6>
                                <h2 data-animation="fadeInUp" data-delay="500ms">Welcome To J.S. Garden</h2>
                                <a href="#contactus" class="btn roberto-btn btn-2" data-animation="fadeInUp" data-delay="800ms">Make an Enquiry</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Welcome Slide -->
        {#        <div class="single-welcome-slide bg-img bg-overlay" style="background-image: url({% static "img/bg-img/18.jpg" %});" data-img-url="{% static "img/bg-img/18.jpg" %}">#}
        {#            <!-- Welcome Content -->#}
        {#            <div class="welcome-content h-100">#}
        {#                <div class="container h-100">#}
        {#                    <div class="row h-100 align-items-center">#}
        {#                        <!-- Welcome Text -->#}
        {#                        <div class="col-12">#}
        {#                            <div class="welcome-text text-center">#}
        {#                                <h6 data-animation="fadeInDown" data-delay="200ms">Banquet and Party Lawn</h6>#}
        {#                                <h2 data-animation="fadeInDown" data-delay="500ms">Welcome To J.S. Garden</h2>#}
        {#                                <a href="#contactus" class="btn roberto-btn btn-2" data-animation="fadeInDown" data-delay="800ms">Make an Enquiry</a>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
    </div>
</section>
<!-- Welcome Area End -->

<!-- About Us Area Start -->
<section class="roberto-about-area section-padding-100-0" id="aboutus">
    <!-- Hotel Search Form Area -->
    {#        <div class="hotel-search-form-area">#}
    {#            <div class="container-fluid">#}
    {#                <div class="hotel-search-form">#}
    {#                    <form action="#" method="post">#}
    {#                        <div class="row justify-content-between align-items-end">#}
    {#                            <div class="col-6 col-md-2 col-lg-3">#}
    {#                                <label for="checkIn">Check In</label>#}
    {#                                <input type="date" class="form-control" id="checkIn" name="checkin-date">#}
    {#                            </div>#}
    {#                            <div class="col-6 col-md-2 col-lg-3">#}
    {#                                <label for="checkOut">Check Out</label>#}
    {#                                <input type="date" class="form-control" id="checkOut" name="checkout-date">#}
    {#                            </div>#}
    {#                            <div class="col-4 col-md-1">#}
    {#                                <label for="room">Room</label>#}
    {#                                <select name="room" id="room" class="form-control">#}
    {#                                    <option value="01">01</option>#}
    {#                                    <option value="02">02</option>#}
    {#                                    <option value="03">03</option>#}
    {#                                    <option value="04">04</option>#}
    {#                                    <option value="05">05</option>#}
    {#                                    <option value="06">06</option>#}
    {#                                </select>#}
    {#                            </div>#}
    {#                            <div class="col-4 col-md-1">#}
    {#                                <label for="adults">Adult</label>#}
    {#                                <select name="adults" id="adults" class="form-control">#}
    {#                                    <option value="01">01</option>#}
    {#                                    <option value="02">02</option>#}
    {#                                    <option value="03">03</option>#}
    {#                                    <option value="04">04</option>#}
    {#                                    <option value="05">05</option>#}
    {#                                    <option value="06">06</option>#}
    {#                                </select>#}
    {#                            </div>#}
    {#                            <div class="col-4 col-md-2 col-lg-1">#}
    {#                                <label for="children">Children</label>#}
    {#                                <select name="children" id="children" class="form-control">#}
    {#                                    <option value="01">01</option>#}
    {#                                    <option value="02">02</option>#}
    {#                                    <option value="03">03</option>#}
    {#                                    <option value="04">04</option>#}
    {#                                    <option value="05">05</option>#}
    {#                                    <option value="06">06</option>#}
    {#                                </select>#}
    {#                            </div>#}
    {#                            <div class="col-12 col-md-3">#}
    {#                                <button type="submit" class="form-control btn roberto-btn w-100">Check Availability</button>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </form>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}

    <div class="container mt-100">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6">
                <!-- Section Heading -->
                <div class="section-heading wow fadeInUp" data-wow-delay="100ms">
                    <h6>About Us</h6>
                    <h2>Welcome to <br>J.S. Garden</h2>
                </div>
                <div class="about-us-content mb-100">
                    <h4 class="wow fadeInUp" data-wow-delay="300ms" style="color: #6f7682!important; ">JS Gardens is a pioneer in providing your unique event a classy, high-end luxury venue. With the support of a credible team of professionals, we stand out in the art of offering exclusive services to guests who are looking for a memorable experience to enjoy in a magnificent setting. Whether organizing a grand wedding or a birthday party,  our luxury banquet halls and party lawns are all about incorporating something special out of the ordinary. We can do all the work- arrange for caterers, flowers, musical entertainment, everything according to your choice. <br>Whether you've got grand plans or aren't sure where to get started, discovering the right luxury banquet halls for your outstanding event all starts here.<br></h4>
                    <p class="wow fadeInUp" data-wow-delay="400ms"><br>Manager: <span>Deepak Soat</span></p>
                    <img src="{% static "img/core-img/signature5d286718167e4.png" %}" alt="" class="wow fadeInUp" data-wow-delay="500ms">
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="about-us-thumbnail mb-100 wow fadeInUp" data-wow-delay="700ms">
                    <div class="row no-gutters">
                        <div class="col-6">
                            <div class="single-thumb">
                                <img target="_blank" src="{% static "img/bg-img/js_mar.jpg" %}" alt="">
                            </div>
                            <div class="single-thumb">
                                <img src="{% static "img/js/021.jpeg" %}" alt="">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="single-thumb">
                                <img src="{% static "img/bg-img/js_entry.jpeg" %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Us Area End -->

<!-- Blog Area Start -->
{#<section class="roberto-blog-area section-padding-100">#}
{#<div class="container">#}
{#    <div class="row">#}
{#        <!-- Section Heading -->#}
{#        <div class="col-12">#}
{#            <div class="section-heading text-center wow fadeInUp" data-wow-delay="100ms">#}
{#                    <h6>Our Blog</h6>#}
{#                <h2>Our Services</h2>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
{#    <div class="row">#}
{#        <!-- Single Post Area -->#}
{#        <div class="col-12 col-md-6 col-lg-4">#}
{#            <div class="single-post-area mb-100 wow fadeInUp" data-wow-delay="300ms">#}
{#                <a href="#" class="post-thumbnail"><img src="{% static "img/bg-img/2.jpg" %}"  alt=""></a>#}
{#                <!-- Post Meta -->#}
{#                    <div class="post-meta">#}
{#                        <a href="#" class="post-date">Jan 02, 2019</a>#}
{#                        <a href="#" class="post-catagory">Event</a>#}
{#                    </div>#}
{#                <!-- Post Title -->#}
{#                <a href="#" class="post-title">Catering</a>#}
{#                <p>How many free autoresponders have you tried? And how many emails did you get through using them?</p>#}
{#                    <a href="index.html" class="btn continue-btn"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>#}
{#            </div>#}
{#        </div>#}
{##}
{#        <!-- Single Post Area -->#}
{#        <div class="col-12 col-md-6 col-lg-4">#}
{#            <div class="single-post-area mb-100 wow fadeInUp" data-wow-delay="500ms">#}
{#                <a href="#" class="post-thumbnail"><img src="{% static "img/bg-img/3.jpg" %}"  alt=""></a>#}
{#                <!-- Post Meta -->#}
{#                    <div class="post-meta">#}
{#                        <a href="#" class="post-date">Jan 02, 2019</a>#}
{#                        <a href="#" class="post-catagory">Event</a>#}
{#                    </div>#}
{#                <!-- Post Title -->#}
{#                <a href="#" class="post-title">Sound System</a>#}
{#                <p>My point here is that if you have no clue for the answers above you probably are not operating a followup.</p>#}
{#                    <a href="index.html" class="btn continue-btn"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>#}
{#            </div>#}
{#        </div>#}
{##}
{#        <!-- Single Post Area -->#}
{#        <div class="col-12 col-md-6 col-lg-4">#}
{#            <div class="single-post-area mb-100 wow fadeInUp" data-wow-delay="700ms">#}
{#                <a href="#" class="post-thumbnail"><img src="{% static "img/bg-img/4.jpg" %}"  alt=""></a>#}
{#                <!-- Post Meta -->#}
{#                    <div class="post-meta">#}
{#                        <a href="#" class="post-date">Jan 02, 2019</a>#}
{#                        <a href="#" class="post-catagory">Event</a>#}
{#                    </div>#}
{#                <!-- Post Title -->#}
{#                <a href="#" class="post-title">Decoration</a>#}
{#                <p>Some good steps to take to ensure you are getting what you need out of a autoresponder include…</p>#}
{#                    <a href="index.html" class="btn continue-btn"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>#}
{#            </div>#}
{#        </div>#}
{##}
{#    </div>#}
{#</div>#}


<div class="container" id="packages">
    <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
            <div class="section-heading text-center wow fadeInUp" data-wow-delay="100ms">
                {#                    <h6>Our Blog</h6>#}
                <h2>Our Packages<br><h3 style="color: #636a76!important;">Simplify your event with our professionally designed packages.</h3></h2>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Single Post Area -->
        <div class="col-12 col-md-6 col-lg-4">
            <div class="single-post-area mb-100 wow fadeInUp" data-wow-delay="300ms">
                <a href="#" class="post-thumbnail"><img src="{% static "img/bg-img/silver-plain.png" %}"  alt=""></a>
                <!-- Post Meta -->
                {#                    <div class="post-meta">#}
                {#                        <a href="#" class="post-date">Jan 02, 2019</a>#}
                {#                        <a href="#" class="post-catagory">Event</a>#}
                {#                    </div>#}
                <!-- Post Title -->
                <a href="#" class="post-title"><h1>Silver</h1></a>
                <p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Catering Services </li>
                    <li class="list-group-item">Venue Space </li>
                <li class="list-group-item">Fully Air Conditioned Banquet Hall</li>
                    <li class="list-group-item">DJ & Sound System</li>
                    <li class="list-group-item">2 Complimentary Rooms</li>
                    <li class="list-group-item"><h3>Food Menu</h3> <a href="{% static 'pdf/Silver_Gold _Food _menu.pdf' %}" class="btn roberto-btn mt-30" style="text-align: center" download>Click Here to Download</a></li>
                </ul>
                </p>
                {#                    <a href="index.html" class="btn continue-btn"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>#}
            </div>
        </div>

        <!-- Single Post Area -->
        <div class="col-12 col-md-6 col-lg-4">
            <div class="single-post-area mb-100 wow fadeInUp" data-wow-delay="500ms">
                <a href="#" class="post-thumbnail"><img src="{% static "img/bg-img/gold-plain.png" %}"  alt=""></a>
                <!-- Post Meta -->
                {#                    <div class="post-meta">#}
                {#                        <a href="#" class="post-date">Jan 02, 2019</a>#}
                {#                        <a href="#" class="post-catagory">Event</a>#}
                {#                    </div>#}
                <!-- Post Title -->
                <a href="#" class="post-title"><h1>Gold</h1></a>
                <p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Catering Services</li>
                    <li class="list-group-item">Venue Space </li>
                    <li class="list-group-item">Flower Decoration</li>
                    <li class="list-group-item">DJ & Sound System </li>
                    <li class="list-group-item">2 Complimentary Rooms </li>
                    <li class="list-group-item"><h3>Food Menu</h3> <a href="{% static 'pdf/Silver_Gold _Food _menu.pdf' %}" class="btn roberto-btn mt-30"  style="text-align: center" download>Click Here to Download</a></li>
                </ul>
                </p>
                {#                    <a href="index.html" class="btn continue-btn"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>#}
            </div>
        </div>

        <!-- Single Post Area -->
        <div class="col-12 col-md-6 col-lg-4">
            <div class="single-post-area mb-100 wow fadeInUp" data-wow-delay="700ms">
                <a href="#" class="post-thumbnail"><img src="{% static "img/bg-img/diamond.png" %}"  alt=""></a>
                <!-- Post Meta -->
                {#                    <div class="post-meta">#}
                {#                        <a href="#" class="post-date">Jan 02, 2019</a>#}
                {#                        <a href="#" class="post-catagory">Event</a>#}
                {#                    </div>#}
                <!-- Post Title -->
                <a href="#" class="post-title"><h1>Diamond</h1></a>
                <p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Catering Services</li>
{#                    <li class="list-group-item">Venue Space</li>#}
                    <li class="list-group-item">Flower Decoration </li>
                    <li class="list-group-item">DJ & Sound System </li>
                    <li class="list-group-item">3 Complimentary Rooms</li>
                    <li class="list-group-item">Parking with Valet Service</li>
                    <li class="list-group-item"><h3>Food Menu</h3> <a href="{% static 'pdf/Diamond Menu.pdf' %}" class="btn roberto-btn mt-30" style="text-align: center" download>Click Here to Download</a></li>
                </ul>
                </p>
                {#                    <a href="index.html" class="btn continue-btn"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>#}
            </div>
        </div>



    </div>
<div class="text-center" ><button class="btn roberto-btn mb-50"  type="button" ><a href="#contactus" style="color: #ffffff!important; display: inline-block; width: 259px!important; height: 46px!important;">Enquire Now</a></button></div>
</div>

{#<div class="col-12 text-center" >#}
{#    <button class="btn roberto-btn mt-15"><a href="#contactus" style="color: #ffffff!important;">Enquire Now</a></button>#}
{#</div>#}

{#</section>#}
<!-- Blog Area End -->

<div class="container gallery-container">

    <div class="col-12">
        <div class="section-heading text-center wow fadeInUp" data-wow-delay="100ms">
            <h2>Photo Gallery</h2>
        </div>
    </div>
    {#    <p class="page-description text-center">Fluid Layout With Overlay Effect</p>#}

    <div class="tz-gallery" id="gallery">

        <div class="row">

            <div class="col-sm-12 col-md-4">
                <a class="lightbox" href="{% static "img/js/marriage_1.jpg" %}">
                    <img src="{% static "img/js/marriage_1.jpg" %}" alt="Bridge">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <a class="lightbox" href="{% static "img/js/019.jpeg" %}">
                    <img src="{% static "img/js/019.jpeg" %}" alt="Bridge">
                </a>
            </div>

            <div class="col-sm-12 col-md-4">
                <a class="lightbox" href="{% static "img/js/020.jpeg" %}">
                    <img src="{% static "img/js/020.jpeg" %}" alt="Bridge">
                </a>
            </div>

            <div class="col-sm-12 col-md-4">
                <a class="lightbox" href="{% static "img/js/022.jpeg" %}">
                    <img src="{% static "img/js/022.jpeg" %}" alt="Bridge">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <a class="lightbox" href="{% static "img/js/041.jpeg" %}">
                    <img src="{% static "img/js/041.jpeg" %}" alt="Bridge">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <a class="lightbox" href="{% static "img/js/045.jpeg" %}">
                    <img src="{% static "img/js/045.jpeg" %}" alt="Bridge">
                </a>
            </div>


        </div>

    </div>

</div>



<!-- Our Room Area Start -->
<section class="roberto-rooms-area">
    <div class="rooms-slides owl-carousel">
        <!-- Single Room Slide -->
        <div class="single-room-slide d-flex align-items-center">
            <!-- Thumbnail -->
            <div class="room-thumbnail h-100 bg-img" style="background-image: url({% static "img/bg-img/js_hall.jpg" %});"></div>

            <!-- Content -->
            <div class="room-content">
                <h2 data-animation="fadeInUp" data-delay="100ms" style="color: #990026!important;">Banquet Hall</h2>
                <br>
{#                <h3 data-animation="fadeInUp" data-delay="300ms">400$ <span>/ Day</span></h3>#}
                <ul class="room-feature" data-animation="fadeInUp" data-delay="500ms">
                    <li><span><i class="fa fa-circle"></i> Size</span> <span>: 4000 sq. ft</span></li>
                    <li><span><i class="fa fa-circle"></i> Capacity</span> <span>: 100-300</span></li>
{#                    <li><span><i class="fa fa-check"></i> Bed</span> <span>: King Beds</span></li>#}
                    <li><span><i class="fa fa-circle"></i> Services</span> <span>: Centrally Air Conditioned, Catering, Venue, 24*7 Full Power Backup</span></li>
                </ul>
{#                <a href="#" class="btn roberto-btn mt-30" data-animation="fadeInUp" data-delay="700ms">View Details</a>#}
            </div>
        </div>

        <!-- Single Room Slide -->
        <div class="single-room-slide d-flex align-items-center">
            <!-- Thumbnail -->
            <div class="room-thumbnail h-100 bg-img" style="background-image: url({% static "img/bg-img/js_lawn.jpeg" %});"></div>

            <!-- Content -->
            <div class="room-content">
                <h2 data-animation="fadeInUp" data-delay="100ms" style="color: #990026;">Party Lawn</h2>
{#                <h3 data-animation="fadeInUp" data-delay="300ms">125$ <span>/ Day</span></h3>#}
                <ul class="room-feature" data-animation="fadeInUp" data-delay="500ms">
                    <li><span><i class="fa fa-circle"></i> Size</span> <span>: 10000 ft</span></li>
                    <li><span><i class="fa fa-circle"></i> Capacity</span> <span>: 300-900</span></li>
{#                    <li><span><i class="fa fa-check"></i> Bed</span> <span>: King Beds</span></li>#}
                    <li><span><i class="fa fa-circle"></i> Services</span> <span>: Food, Venue, Power Backup, Natural Flower Decoration, Valet Parking, DJ</span></li>
                </ul>
{#                <a href="#" class="btn roberto-btn mt-30" data-animation="fadeInUp" data-delay="700ms">View Details</a>#}
            </div>
        </div>
    </div>
</section>
<!-- Our Room Area End -->

<!-- Testimonials Area Start -->
<section class="roberto-testimonials-area section-padding-100-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <div class="testimonial-thumbnail owl-carousel mb-100">
                    <img src="{% static "img/bg-img/test1.jpeg" %}"  alt="">
                    <img src="{% static "img/bg-img/test2.jpg" %}"  alt="">
                    <img src="{% static "img/bg-img/test3.jpeg" %}"  alt="">
                </div>
            </div>

            <div class="col-12 col-md-6">
                <!-- Section Heading -->
                <div class="section-heading">
                    <h6>Testimonials</h6>
                    <h2>Our Guests Love Us</h2>
                </div>
                <!-- Testimonial Slide -->
                <div class="testimonial-slides owl-carousel mb-100">

                    <!-- Single Testimonial Slide -->
                    <div class="single-testimonial-slide">
                        <h5>“I highly recommend this venue! We recieved a lot of compliments from our guests in regards to the food. Deepak Ji looked after us during the entire process and made sure everything went smoothly on the night of the Wedding.”</h5>
                        <div class="rating-title">
                            <div class="rating">
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                            </div>
                            <h6>Siddharth Gupta </h6>
                        </div>
                    </div>

                    <!-- Single Testimonial Slide -->
                    <div class="single-testimonial-slide">
                        <h5>“Spacious property with a decent parking area. It is situated opposite to my society(Ecovillage I) and everything went perfect for me right from the location of the venue to the food they had on offer.”</h5>
                        <div class="rating-title">
                            <div class="rating">
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
{#                                <i class="icon_star"></i>#}
                            </div>
                            <h6>Himanshu Chauhan</h6>
                        </div>
                    </div>

                    <!-- Single Testimonial Slide -->
                    <div class="single-testimonial-slide">
                        <h5>“The banquet is lavishly designed and the catering is done by Divine Caterers which is a prominent name in itself from the last 25 years. Deepak Ji(The Manager) is very supportive and he ensured a hassle-free Birthday Party for my daughter.”</h5>
                        <div class="rating-title">
                            <div class="rating">
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                            </div>
                            <h6>Aditi Jaiswal</h6>
                        </div>
                    </div>

                    <!-- Single Testimonial Slide -->
{#                    <div class="single-testimonial-slide">#}
{#                        <h5>“Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore sequi laboriosam fugit suscipit aspernatur, minima minus voluptatum, id ab atque similique ex earum. Magni.”</h5>#}
{#                        <div class="rating-title">#}
{#                            <div class="rating">#}
{#                                <i class="icon_star"></i>#}
{#                                <i class="icon_star"></i>#}
{#                                <i class="icon_star"></i>#}
{#                                <i class="icon_star"></i>#}
{#                                <i class="icon_star"></i>#}
{#                            </div>#}
{#                            <h6>Robert Brown <span>- CEO Deercreative</span></h6>#}
{#                        </div>#}
{#                    </div>#}

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonials Area End -->




<br><br>

<!-- Google Maps & Contact Info Area Start -->
<section class="google-maps-contact-info" id="location">
    <div class="container-fluid">
        <div class="google-maps-contact-content">
            <div class="row">
                <!-- Single Contact Info -->
                <div class="col-6 col-lg-3">
                    <div class="single-contact-info">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <h4>Phone</h4>
                        <p>(+91) 9540-48-2228 <br>(+91) 9540-48-2229</p>
                    </div>
                </div>
                <!-- Single Contact Info -->
                <div class="col-6 col-lg-3">
                    <div class="single-contact-info">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <h4>Address</h4>
                        <p>
                            Chaturbhuj Chauraha, Opp. Panchmukhi Hanuman Mandir
                                <br>
                                Sector-2, Greater Noida (U.P)-201308</p>
                    </div>
                </div>
                <!-- Single Contact Info -->
                <div class="col-6 col-lg-3">
                    <div class="single-contact-info">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <h4>Open time</h4>
                        <p>10:00 am to 7:00 pm</p>
                    </div>
                </div>
                <!-- Single Contact Info -->
                <div class="col-6 col-lg-3">
                    <div class="single-contact-info">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <h4>Email</h4>
                        <p>jsluxurybanquet@gmail.com</p>
                    </div>
                </div>
            </div>

            <!-- Google Maps -->
            <div class="google-maps">


                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3503.569781163759!2d77.4400444150815!3d28.582678882437428!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cefbc200d922b%3A0x4b1626a00b9d7393!2sJ+S+Garden!5e0!3m2!1sen!2sin!4v1562489815018!5m2!1sen!2sin"  allowfullscreen></iframe>

            </div>
        </div>
    </div>
</section>
<!-- Google Maps & Contact Info Area End -->

<!-- Contact Form Area Start -->
<div class="roberto-contact-form-area section-padding-100" id="contactus">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading text-center wow fadeInUp" data-wow-delay="100ms">
                    <h6>Contact Us</h6>
                    <h2>Make an Enquiry</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <!-- Form -->
                <div class="roberto-contact-form">
                    <form action="{% url 'index' %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12 col-lg-6 wow fadeInUp" data-wow-delay="100ms">
                                <input type="text" name="name" class="form-control mb-30" placeholder="Your Name" required>
                            </div>
                            <div class="col-12 col-lg-6 wow fadeInUp" data-wow-delay="100ms">
                                <input type="tel" name="contact" class="form-control mb-30" placeholder="Contact Number" maxlength="10" required>
                            </div>
                            <div class="col-12 col-lg-6 wow fadeInUp" data-wow-delay="100ms">
                                <input type="email" name="email" class="form-control mb-30" placeholder="Email">
                            </div>

                            <div class="col-12 col-lg-6 wow fadeInUp" data-wow-delay="100ms">
                                <select name="package" type="text" class="form-control mb-30"  required>
                                    <option value="">Please Select your Package</option>
                                    <option value="silver">Silver</option>
                                    <option value="gold">Gold</option>
                                    <option value="diamond">Diamond</option>
                                </select>
                            </div>

                            <div class="col-12 col-lg-6 wow fadeInUp" data-wow-delay="100ms">
                                <input type="text" name="no_of_guests" class="form-control mb-30" placeholder="No. of Guests" required>
                            </div>
                            <div class="col-12 col-lg-6 wow fadeInUp" data-wow-delay="100ms">
                                <input type="date"  name="eventdate" class="form-control mb-30" placeholder="Date of Booking" required>
                            </div>
                            <div class="col-12 wow fadeInUp" data-wow-delay="100ms">
                                <textarea name="message" class="form-control mb-30" placeholder="Your Message"></textarea>
                            </div>
                            <div class="col-12 text-center wow fadeInUp" data-wow-delay="100ms">
                                <button type="submit" name="submit" class="btn roberto-btn mt-15">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact Form Area End -->

<!-- Call To Action Area Start -->
<section class="roberto-cta-area">
    <div class="container">
        <div class="cta-content bg-img bg-overlay jarallax" style="background-image: url({% static "img/bg-img/1.jpg" %});">
            <div class="row align-items-center">
                <div class="col-12 col-md-7">
                    <div class="cta-text mb-50">
                        <h2>Contact us now!</h2>
                        <h6>Contact (+91) 9540-48-2228 / 9540-48-2229 to book directly or for advice</h6>
                    </div>
                </div>
                <div class="col-12 col-md-5 text-right">
                    <a href="{% url 'contactus' %}" class="btn roberto-btn mb-50">Contact Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Call To Action Area End -->
<br>
<br>

{#    <!-- Partner Area Start -->#}
{#    <div class="partner-area">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-12">#}
{#                    <div class="partner-logo-content d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="300ms">#}
{#                        <!-- Single Partner Logo -->#}
{#                        <a href="#" class="partner-logo"><img src="{% static "img/core-img/p1.png" %}"  alt=""></a>#}
{#                        <!-- Single Partner Logo -->#}
{#                        <a href="#" class="partner-logo"><img src="{% static "img/core-img/p2.png" %}"  alt=""></a>#}
{#                        <!-- Single Partner Logo -->#}
{#                        <a href="#" class="partner-logo"><img src="{% static "img/core-img/p3.png" %}"  alt=""></a>#}
{#                        <!-- Single Partner Logo -->#}
{#                        <a href="#" class="partner-logo"><img src="{% static "img/core-img/p4.png" %}"  alt=""></a>#}
{#                        <!-- Single Partner Logo -->#}
{#                        <a href="#" class="partner-logo"><img src="{% static "img/core-img/p5.png" %}"  alt=""></a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <!-- Partner Area End -->#}

<!-- Footer Area Start -->
<footer class="footer-area section-padding-80-0">
    <!-- Main Footer Area -->
    <div class="main-footer-area">
        <div class="container">
            <div class="row align-items-baseline justify-content-between">
                <!-- Single Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-80">
                        <!-- Footer Logo -->
                        <a href="#" class="footer-logo" ><h1 style="font: bold;font: 15px; color: #ffffff!important;">JS Garden</h1></a>

                        <h4>(+91) 9540-48-2228 <br>(+91) 9540-48-2229</h4>
                        <span>jsluxurybanquet@gmail.com</span>
                        <span>
                                Chaturbhuj Chauraha, Opp. Panchmukhi Hanuman Mandir
                                <br>
                                Sector-2, Greater Noida (U.P)-201308
                            </span>
                    </div>
                </div>

{#                <!-- Single Footer Widget Area -->#}
{#                <div class="col-12 col-sm-6 col-lg-3">#}
{#                    <div class="single-footer-widget mb-80">#}
{#                        <!-- Widget Title -->#}
{#                        <h5 class="widget-title">Our Blog</h5>#}
{##}
{#                        <!-- Single Blog Area -->#}
{#                        <div class="latest-blog-area">#}
{#                            <a href="#" class="post-title">Freelance Design Tricks How</a>#}
{#                            <span class="post-date"><i class="fa fa-clock-o" aria-hidden="true"></i> Jan 02, 2019</span>#}
{#                        </div>#}
{##}
{#                        <!-- Single Blog Area -->#}
{#                        <div class="latest-blog-area">#}
{#                            <a href="#" class="post-title">Free Advertising For Your Online</a>#}
{#                            <span class="post-date"><i class="fa fa-clock-o" aria-hidden="true"></i> Jan 02, 2019</span>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}

                <!-- Single Footer Widget Area -->
                <div class="col-12 col-sm-4 col-lg-2">
                    <div class="single-footer-widget mb-80">
                        <!-- Widget Title -->
                        <h5 class="widget-title">Links</h5>

                        <!-- Footer Nav -->
                        <ul class="footer-nav">
                            <li><a href="#aboutus"><i class="fa fa-caret-right" aria-hidden="true"></i> About Us</a></li>
                            <li><a href="#contactus"><i class="fa fa-caret-right" aria-hidden="true"></i> Enquiry</a></li>
                            <li><a href="#gallery"><i class="fa fa-caret-right" aria-hidden="true"></i> Gallery</a></li>
                            <li><a href="{% url "contactus" %}"><i class="fa fa-caret-right" aria-hidden="true"></i>Contact Us </a></li>
                        </ul>
                    </div>
                </div>

                <!-- Single Footer Widget Area -->
                <div class="col-11 col-sm-8 col-lg-4">
                    <div class="single-footer-widget mb-80">

                        <br>
                        <img src="{% static 'img/core-img/js_logo_1.png'%}" >

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Copywrite Area -->
    <div class="container">
        <div class="copywrite-content">
            <div class="row align-items-center">
                <div class="col-12 col-md-8">
                    <!-- Copywrite Text -->
                    <div class="copywrite-text">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <!-- Social Info -->
                    <div class="social-info">
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Area End -->

<!-- **** All JS Files ***** -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>
<!-- jQuery 2.2.4 -->
<script src="{% static "js/jquery.min.js" %}"></script>
<!-- Popper -->
<script src="{% static "js/popper.min.js" %}"></script>
<!-- Bootstrap -->
<script src="{% static "js/bootstrap.min.js" %}"></script>
<!-- All Plugins -->
<script src="{% static "js/roberto.bundle.js" %}"></script>
<!-- Active -->
<script src="{% static "js/default-assets/active.js" %}"></script>

</body>

</html>
